@import '../../../Styles/variables.scss';

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    margin: 10px;
.news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    .news-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 1px 3 px 0 rgba(55,63,81,0.15);
        img {
            height: 100px;
            width: 100px;
        }
    }
}

.news-empty {
    color: $green-blue;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
}
}